@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <div class="text-center">
        <h1 class="display-4">Welcome To CHENNAI</h1>
        
        <h2>Time: @DateTime.Now.ToShortTimeString() </h2>
        <h2>Date: @DateTime.Now.ToShortDateString() </h2>


    </div>
