
@{
    ViewData["Title"] = "About_Us";
}

    <h1>@ViewData["Title"]</h1>

<p>
    Cognizant is an American multinational corporation that provides IT services, including digital, technology, consulting, and operations services.
    It is headquartered in Teaneck, New Jersey, United States. Cognizant is part of the NASDAQ-100 and trades under CTSH.
    It was founded as an in-house technology unit of Dun & Bradstreet in 1994, and started serving external clients in 1996.

    After a series of corporate re-organisations there was an initial public offering in 1998.

    Cognizant had a period of fast growth during the 2000s, becoming a Fortune 500 company in 2011. The company has been involved in a number of controversies in India, Ireland, and the United States.
</p>

