
@{
    ViewData["Title"] = "Customer";
}



<table width="700px" >

    <tr>
        <th>Customer Id</th>
        <th>Customer Name</th>
        <th>Customer City</th>
        <th>Email Address</th>
    </tr>

    <tr>
        <td>100</td>
        <td>Kaviraj</td>
        <td>Latur</td>
        <td>kavirathod35@gmail.com</td>
    </tr>

    <tr>
        <td>101</td>
        <td>Damodar</td>
        <td>Amravati</td>
        <td>dkhedkar52@gmail.com</td>
    </tr>

    <tr>
        <td>103</td>
        <td>Deepak</td>
        <td>Jalgaon</td>
        <td>Deepakpatil2542@gmail.com</td>
    </tr>

    <tr>
        <td>104</td>
        <td>Saurabh</td>
        <td>Yavatmal</td>
        <td>Saurabhpatil@gmail.com</td>
    </tr>
</table>
